%p
  Download:
  = link_to "CSV", users_path(format: "csv")  |
  = link_to "Excel", users_path(format: "xls") 
%table#showajaxusers.table.table-striped.table-hover
  %thead
    %tr
      %th name
      %th Imagecount
      %th UserImages
  %tbody
  - @users.each do |user|
    %tr
      %td
        = user.name
      %td
        = user.images.count
        - user.images.each do |image|
          %td
            [#{image.name}]
